body	{
	margin-top: 0px;
	padding:0;
	font-family: 'Lato Light';
	font-size:100%;
	line-height:150%;
}

@font-face {
  font-family: "Lato Light";
  src: url("../fonts/lato.ttf");
}

a:link, a:visited	{
	text-decoration: underline;
	color:#000
}

a:hover	{
	text-decoration: underline;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  padding: 1rem;
  width: 50%;
}

section {
  flex-basis: 0;
  max-width: 50%;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 150%;
  }

  h2 {
    font-size: 120%;
  }

  h3 {
    font-size: 115%;
  }

  h4 {
    font-size: 110%;
  }

  h5 {
    font-size: 100%;
  }

}

#main {
	width: 50%;
	margin: 0 auto;
}


#nav {
	text-align:center;
	margin:auto;
	margin-top:0px;
	padding-top:0px;
	margin-bottom:5px;
	padding-bottom:5px;
	border-bottom: 1px solid #000;
}

#content-left {
	text-align:left;
	margin:auto;
	padding-top:5px;
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom: 1px solid #000;
}


#home {
	text-align:left;
	margin: 20px 20px 20px 20px;
	border-bottom: 1px solid #000;
    display: inline-block
}

#home img {
    max-width: 40%;
    float: left;
    padding-right: 20px;
    display: block;
	padding-bottom:20px;
}

#content {
	text-align:center;
    max-width: 40%;
	margin:auto;
	margin-top:20px;
	padding-top:20px;
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom: 1px solid #000;
}

#footer {
	text-align:center;
	padding-bottom:10px;
    font-size: 120%
}

#logo	{
	text-align:center;
	margin: 20px auto 20px auto;
}

#logo img {
	max-width: 50%;
}

#content-left a:link, #content-left a:visited	{
	text-decoration: underline;
	color:#000
}

#content-left a:hover	{
	text-decoration: none;
}

#post-short a:link, #post-short a:visited	{
	text-decoration: none;
	color:#000
}

#post-short a:hover	{
	text-decoration: underline;
}

#post-short h3, #post h2	{
	margin-bottom: 0px;
}

#post-short i	{
	font-size:0.8em;
	color: grey;
}

#post i	{
	font-size:0.9em;
	color: grey;
}

#categories a, #categories a:link, #categories a:visited {
	background-color: grey;
	text-decoration: none;
	padding: 0.1em 0.5em 0.1em 0.5em;
	border-radius: 25px;
}

#categories a:hover {
	text-decoration: underline;
}

.button0 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 5px;
}
.small-container {
  flex-grow: 1;
  justify-content: center;
  display: flex; 
  align-items: center; 
}

@media screen and (max-width: 850px) {
	#main {
		width: auto;
		margin: 0 auto;
		padding: 10px;
	}

	#logo, #nav, #home, #content-left,	#footer {
		display: block;
		width: 100%;
	}

	#logo img {
		max-width: 80%;
	}
	
    #home img {
		max-width: 80%;
	}

	#nav {
		font-size: 2em;
		padding-bottom: 0.5em;
	}

	h2 {
		font-size: 3em;
	}

	h3 {
		font-size: 2em;
	}

}

@media screen and (max-width: 400px) {
	#main {
		width: auto;
		margin: 0 auto;
		padding: 10px;
	}

	#logo, #nav, #content-left,	#footer {
		display: block;
		width: 100%;
	}

	#logo img {
		max-width: 80%;
	}

	#nav {
		font-size: 1.1em;
		padding-bottom: 0.5em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.5em;
	}

}
