<!DOCTYPE html>
<html lang="{{site.language}}">
  {% include head.html %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  </style>
  <body>
	<div id="main">
		{% include logo.html %}
		{% include nav.html %}
        <div class="container">
            <div>
                {{page.sections[0]}}
            </div>
            <div>
                <img src="assets/images/manu.jpeg" align="right" alt="" width="60%" height="auto">
            </div>
        </div>
        {% include footer.html %}
	</div>
    </body>
</html>
