<!DOCTYPE html>
<html lang="{{site.language}}">
  <head>  
    {% include head.html %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
		{% include logo.html %}
		{% include nav.html %}
            <section>
                <img src="assets/images/manu.jpeg" align="center" alt="" width="60%" height="auto">
            </section>
            <section>
                {{ page.sections[0] | markdownify }}
            </section>
            <section>
                {{ page.sections[1] | markdownify }}
            </section>
            <section>
                {{ page.sections[2] | markdownify }}
            </section>
            <section>
                {{ page.sections[3] | markdownify }}
            </section>
        {% include footer.html %}
    </body>
</html>
