<!DOCTYPE html>
<html lang="{{site.language}}">
  <head>  
    {% include head.html %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
	<div id="main">
		{% include logo.html %}
		{% include nav.html %}
            <div class="small-container">
            <div class="content">
                <img src="assets/images/manu.jpeg" align="right" alt="" width="60%" height="auto">
            </div>
            <div class="content">
                {{ page.sections[0] | markdownify }}
            </div>
            </div>
            <div class="small-container">
            <div class="content">
                {{ page.sections[1] | markdownify }}
            </div>
            <div class="content">
                {{ page.sections[2] | markdownify }}
            </div>
            </div>
            <div class="content">
                {{ page.sections[3] | markdownify }}
            </div>
        {% include footer.html %}
	</div>
    </body>
</html>
